.main-flex-circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;         
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border: 2px solid linear-gradient(180deg, aquamarine, white);
    overflow: hidden;
}

.circle-img {
  width: clamp(200px, 100%, 1200px);
  height: clamp(150px, 100%, 800px); 
  object-fit: cover;
  border-radius: 12px;
}